* {
    padding: 0;
    margin: 0;
    font-family: "Fira Sans", Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
    width: auto;
    background-image: linear-gradient(90.2deg, rgba(1, 47, 95, 1) -0.4%, rgba(56, 141, 217, 1) 106.1%);
}

.page-wrapper {
    flex: 1;
    padding-top: 50px;
}

footer {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ececec;
    background-color: #385170;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: green;
}

h1 {
    margin: 40px auto 20px auto;
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    background: linear-gradient(90deg, #ffffff, #d2f3ff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.6);
}

h2 {
    margin: 30px;
    text-align: center;
    color: #ececec;
}

.gameboard-container {
    display: flex;
    justify-content: center;
    gap: 6.25rem;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

th {
    padding: 8px;
    font: 1.2rem "Fira Sans", sans-serif;
    color: #ececec;
}

td {
    height: 40px;
    width: 40px;
    border: 1px #9fd3c7 solid;
    box-sizing: border-box;
    font-size: 0;
    line-height: 0;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 4rem;
}

button {
    height: 40px;
    width: 80px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}

.ship {
    background-color: #142d4c;
}

.hiddenShip {
    background-color: transparent;
}

.water {

    background-color: #8de8fc;
    border-collapse: collapse;
    transition: background-color 400ms ease;
}

.hit {
    background-color: red;
    border-collapse: collapse;
    transition: background-color 400ms ease;
}